{% extends "base_no_footer.html" %} {% load static %} {% load i18n %} {% block head_title %}{% trans "Sign Out" %}{% endblock %} {% block content %}
<div class="rounded-lg shadow-lg h-screen bg-cover" style='background-image: url(" {% static"media/img/hiking_snow_img.jpg" %}"
  );'>

    <div class="container mx-auto mt-24 md:mt-36 justify-center grid
    place-items-center h-4/5">
        <div class="grid place-items-center">
            <div class="rounded shadow-lg py-12 px-4 sm:px-6 lg:px-8 max-w-md w-full
        space-y-8 bg-gray-200/75 border-cyan-800 border-2">
                <div>
                    <img class="mx-auto h-12 w-auto" src="{% static
            'media/img/trax-logo.png' %}" alt="Workflow">
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">{% trans "Sign Out" %}</h2>
                    <p class="mt-2 text-center text-sm text-gray-600">
                        <p class="font-medium text-teal-800 hover:text-teal-800">{% trans 'Are you sure you want to sign out?' %}</p>
                        <form class="mt-8 space-y-6" method="post" action="{% url
              'account_logout' %}">
                            {% csrf_token %} {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{
                redirect_field_value }}" /> {% endif %}

                            <button type="submit" class="group relative w-full flex
                justify-center py-2 px-4 border border-transparent text-sm
                font-medium rounded-md text-white bg-pink-800 hover:bg-cyan-800
                focus:outline-none focus:ring-2 focus:ring-offset-2
                focus:ring-teal-800">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                </span>
                {% trans "Sign Out" %}
              </button>
                        </form>

                        <a href="{% url 'home' %}">
                            <button class="group relative mt-4 w-full flex justify-center py-2
                px-4 border border-transparent text-sm font-medium rounded-md
                text-white bg-pink-800 hover:bg-cyan-800 focus:outline-none
                focus:ring-2 focus:ring-offset-2 focus:ring-teal-800">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                </span>
                Cancel
              </button>
                        </a>


                </div>

            </div>
        </div>
    </div>


    {% endblock %}