asgiref==3.5.2
cloudinary==1.29.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
django-crispy-forms==1.14.0
Django==4.0.7
gunicorn==20.1.0
psycopg2==2.9.3
pytz==2022.1
sqlparse==0.4.2
folium==0.12.1
gpxpy==1.5.0
django-extensions==3.1.5
plotly==5.8.0
pandas==1.4.2
django-allauth==0.50.0
#whitenoise==6.2.0
kaleido==0.2.1
