@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar-height {
    height: 10vh;
}

.margin-before-body {
    margin-top: 10vh;
}

.body-height {
    height: 82.5vh;
}

.footer-height {
    height: 7.5vh;
}