{% extends 'base.html' %} {% block content %}

<div class="container flex flex-col justify-center items-center mx-auto">
<div>TRAX</div>
<div>This is the Over view text</div>
<div class="grid place-items-center grid-cols-2 gap-2">
    <div>Upload Dialog</div> 
    <div>Upload Picture</div>

    <div>Activity Details Text</div>
    <div>Activity Details Picture</div>

    <div>Heart Rate Text</div>
    <div>Heart Rate Picture</div>

    <div>Map Text</div>
    <div>Map Picture</div>

    <div>Elevation Text</div>
    <div>Elevation Picture</div>

  </div>
</div>
{% endblock content %}