<!doctype html>
{% extends 'base.html' %} {% block content %}
{% load static %}
<!-- Page Content -->
<div>
<!--    Card: Cotainer with Title, Like button and description      -->
<div class="items-center mx-auto p-4 bg-white rounded-lg border shadow-md  md:min-w-2xl md:max-w-2xl mb-10">

    <!--    Activty Name and Like Button -->
    <div>
        <p class="text-2xl tracking-tight text-teal-800 inline">
            {{ activity.title }}

            {% if activity.user == user %}
            <span class=" text-pink-800">by You</span>
            {% else %}
            <span class=" text-pink-800">by {{ activity.user }}</span>
            {% endif %}

        </p>

        <!--    Span for the Like Button for the Activity -->
        <span class="ml-8 text-xl">
            {% if user.is_authenticated %}
            <form action="{% url 'activity_like' activity.slug %}" method="POST" class="inline-block">
                {% csrf_token %} {% if liked %}
                <button aria-label="like" type="submit" name="" value="{{ activity.slug }}"><i
                        class="fas fa-heart text-cyan-800 hover:text-pink-800"></i></button>
                        {% else %}
                        <button aria-label="like" type="submit" value="{{activity.slug}}"><i
                                class="far fa-heart text-cyan-800 hover:text-pink-800"></i></button>
                        {% endif %}
            </form>
            {% else %}
            <span><i class="far fa-heart text-cyan-800"></i></span> {% endif %}
            <span class="ml-2"> {{ activity.number_of_likes }} </span>
        </span>

    </div>


    <!--  Activity Description -->
    <div>
        <p class="mt-2 mb-2 font-normal text-gray-500">{{ activity.description }}</p>
    </div>


    <!--  Edit / Delete Buttons -->
    <div class="flex justify-start">
        <p>
            {% if user == activity.user %}
            <form method="POST" action="{% url 'delete' slug=activity.slug %}">
                {% csrf_token %}
                <button type="submit"
                    class="mt-1 mb-1 mr-4 group relative w-16 flex justify-center py-2 px-2 border border-transparent text-xs font-medium rounded-md text-white bg-cyan-800 hover:bg-pink-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-800">Delete</button>
            </form>

            <a href="{% url 'edit' activity.slug %}">
                <button type="submit"
                    class="mt-1 mb-1  mr-4 group relative w-16 flex justify-center py-2 px-2 border border-transparent text-xs font-medium rounded-md text-white bg-cyan-800 hover:bg-pink-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-800">
                    Edit</button></a>
            {% endif %}
        </p>
    </div>

    <!--  Uploaded On Date -->
    <div>
        <p class="mt-4 font-normal text-xs text-gray-700">
            Uploaded on: {{activity.date_created }}
        </p>
    </div>
</div>


<!--    Card: Table with activity detail      -->

<div
    class="p-4 flex flex-grow items-center mx-auto bg-white rounded-lg border shadow-md md:flex-row md:min-w-2xl md:max-w-2xl mb-10">

    <div class="flex flex-grow flex-col leading-normal">
        <p class="text-cyan-800 text-xl">
            Key Activity Metrics:
        </p>

        <table class="p-4 text-gray-500 leading-loose table-auto overflow-x-auto align-middle">
            <tbody>
                <tr class="border-b border-t">
                    <td>Distance:</td>
                    <td>{{ activity.distance }} km</td>
                </tr>
                <tr class="bg-gray-50 border-b">
                    <td>Average Heart Rate:</td>
                    <td>{{ activity.heartrate_avg }} bpm</td>
                </tr>
                <tr class="border-b">
                    <td>Start Time:</td>
                    <td>{{ activity.start_time }}</td>
                </tr>
                <tr class="bg-gray-50 border-b">
                    <td>End Time:</td>
                    <td>{{ activity.end_time }}</td>
                </tr>
                <tr class="bg-gray-50 border-b">
                    <td>Max Elevation:</td>
                    <td>{{ activity.elev_max }} m</td>
                </tr>
                <tr class="bg-gray-50 border-b">
                    <td>Minimum Elevation:</td>
                    <td>{{ activity.elev_min }} m</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    {% if activity.gpx_file_uploaded == False %}

    <div class="p-4 flex flex-grow items-center mx-auto bg-white rounded-lg border shadow-md flex-col md:min-w-2xl md:max-w-2xl mb-10 space-y-4">
        <p class="text-center">This is a manual activity !</p>
        <p class="text-center">Activities that have been uploaded using the gpx uploader will automatically show key metrics charts such as the route, elevation and heart rate.</p>
        {% if user.is_authenticated %}
        <p class="text-center">Try <a href="{% url 'upload' %}">uploading a gpx file</a> to have your activity metrics automatically populated.</p>
        <p class="text-center">A sample gpx file can be downloaded from <a download="example-gpx-file-hike.gpx" href="{% static 'test-gpx/hike-wicklow-djouce.gpx' %}" class="hover:text-pink-800 text-cyan-800" target="_blank">here</a>.</p>
        {% endif %}
    </div>

    {% else %}
    <!--    Card: Activity Map      -->
    <div
        class="flex flex-grow items-center mx-auto bg-white rounded-lg border shadow-md md:flex-row md:min-w-2xl md:max-w-2xl mb-10">

        <div class="flex flex-grow flex-col p-4 leading-normal">
            <p class="text-cyan-800 text-xl">Activity Map:</p>
            <p>{{ my_map|safe }}</p>
        </div>
    </div>

    <!--    Card: Heart Rate Plot      -->
    <div
        class="flex flex-grow items-center mx-auto bg-white rounded-lg border shadow-md md:flex-row md:min-w-2xl md:max-w-2xl mb-10">

        <div class="flex flex-grow flex-col p-4 leading-normal">
            <p class="text-cyan-800 text-xl">Heart Rate Plot:</p>
            <p>{{ heart_rate|safe }}</p>
        </div>
    </div>

    <!--    Card: Activity Elevation Plot      -->
    <div
        class="flex flex-grow items-center mx-auto bg-white rounded-lg border shadow-md md:flex-row md:min-w-2xl md:max-w-2xl mb-10">
        <div class="flex flex-grow flex-col p-4 leading-normal">
            <p class="text-cyan-800 text-xl">Elevation Plot:</p>
            <p>{{ elev_plot|safe }}</p>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock content %}
