{% extends 'base.html' %} 
{% block content %}

  <!-- Page Content -->

<h1>{{ activity.title }}</h1>


  <div>
    <strong>
        {% if user.is_authenticated %}
        <form action="{% url 'activity_like' activity.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button type="submit" name="blogspot_id" value="{{ activity.slug }}"><i class="fas fa-heart"></i><button>                                                     
            {% else %}
            <button type="submit" name="blogspot_id" value="{{activity.slug}}"><i class="far fa-heart"></i></button>
            {% endif %}    
        </form>
        {% else %}
            <span ><i class="far fa-heart"></i></span>
        {% endif %}           
        <span > {{ activity.number_of_likes }} </span>
    </strong>
</div>

<div class="container">
  <h1>Distance:</h1><p>{{ activity.distance }}</p>
  <h1>Description:</h1><p>{{ activity.description }}</p>
</div>

  <div class="container">
    <h1>Map Plot</h1>
        {{ my_map|safe }}
  </div>

  <div class="container">
    <h1>Heart Rate Plot</h1>
        {{ heart_rate|safe }}
  </div>

  <div class="container">
    <h1>Elevation Plot</h1>
        {{ elev_plot|safe }}
  </div>




  {% endblock content %}
