{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Trax Home Test</h1>

<a href="{% url 'upload' %}" class="">Upload</a><br>
<a href="{% url 'home' %}" class="">Activity View</a><br>
<a href="{% url 'about' %}" class="">About</a><br>


{% for activity in activity_list %}
<div>
  <a href="{% url 'activity_detail' activity.slug  %}">
    <h2>{{ activity.title }}</h2>
  </a>
  <img src="{{ activity.gpx_thumb_path }}"> 
  <!-- <img src="{% static 'media/img/thumbnail_default.png' %}"> -->
  <p>
    Slug: {{ activity.slug }} <br>
    Uploaded By: {{ activity.user }} <br>
    Date Created: {{ activity.date_created }} <br>
  </p>
    <p><i class="far fa-heart"></i>{{ activity.number_of_likes }}</p>
    </div>

  </div>
{% endfor %}


{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock content %}