{% extends 'base.html' %} {% load cloudinary %} {% block content %}

<div class="container mx-auto justify-center grid place-items-center h-full
  mb-32">
    <div class="grid place-items-center">

        <div class="shadow-lg px-4 sm:px-6 lg:px-8 max-w-md space-y-8
      bg-gray-200/75">

            <div>
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Edit your activity:</h2>
                <p class="mt-2 text-center text-sm text-gray-600">
                    Update the Activity Name and Description:
                </p>
            </div>

            <div class="rounded-md shadow-sm -space-y-px">
                <!-- Create a Form -->
                <form action="/update/{{activity.slug}}/" method="POST">
                    {% csrf_token %}

                    <!-- Title -->
                    <div class="mb-4">
                        <label for="id_title" class="text-cyan-800">Title:</label>
                        <input id="id_title" name="title" type="text" maxlength='25' value={{activity.title}} class="appearance-none rounded-none
              relative block w-full px-3 py-2 border border-gray-300
              placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none
              focus:ring-pink-800 focus:border-pink-800 focus:z-10 sm:text-sm">
                    </div>

                    <!-- Description -->
                    <div class="flex items-start">
                        <div class="mb-4">
                            <label for="id_description" class="text-cyan-800">Description:</label>
                            <textarea id="id_description" rows="4" cols="50" name="description" type="text" maxlength='250' class="appearance-none rounded-none relative block w-full px-3
                py-2 border border-gray-300 placeholder-gray-500 text-gray-900
                rounded-t-md focus:outline-none focus:ring-pink-800
                focus:border-pink-800 focus:z-10 sm:text-sm">{{activity.description}}</textarea>
                        </div>
                    </div>

                    <button type="submit" class="mt-2 mb-4 group relative w-full flex
            justify-center py-2 px-4 border border-transparent text-sm
            font-medium rounded-md text-white bg-cyan-800 hover:bg-pink-800
            focus:outline-none focus:ring-2 focus:ring-offset-2
            focus:ring-pink-800">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3"></span>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}