{% extends 'base.html' %} 
{% load cloudinary %}

{% block content %}

  <!-- Page Content -->
  <div class="container mx-auto bg-red-200 mt-24 md:mt-36 justify-center grid place-items-center h-4/5">
  <div class="grid place-items-center">
    <div class="shadow-lg py-12 px-4 sm:px-6 lg:px-8 max-w-md space-y-8 bg-green-400">
      
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Upload an activity:</h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Activity files should be in .gpx file format   
        </p>
      </div>

      <form class="mt-8 space-y-6" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
  
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          
          <!-- Title -->
          <div>
            <label for="id_title" class="">Title:</label>
            <input id="id_title" name="title" type="text" maxlength='25' required value="Trax Activity" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
          </div>

          <!-- Description -->
          <div>
            <label for="id_description" class="">Description:</label>
            <input id="id_description" name="description" type="text" maxlength='1000' required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" value="Describe your activity....!">
          </div>

          <!--  Upload File -->
          <label class="" for="file_input">Upload file</label>
<input name="gpx_file" id="id_gpx_file" type="file" class="block w-full text-sm text-gray-900 bg-gray-50 border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" >

         </div>

  
        <div>
  
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
  
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3"></span>Upload</button>
        </div>
      </form>

</div>
</div>

<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Upload">
</form>


{% endblock content %}